<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jetbrains.youtrack.mobile.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_icon_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_icon_color" />

        <activity
            android:name="com.jetbrains.youtrack.mobile.app.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="youtrack.jetbrains.com"
                    android:pathPattern="/issues.*"
                    android:scheme="https" />
                <data
                    android:host="youtrack.jetbrains.com"
                    android:pathPattern="/tickets.*"
                    android:scheme="https" />
                <data
                    android:host="youtrack.jetbrains.com"
                    android:pathPattern="/issue/.*"
                    android:scheme="https" />
                <data
                    android:host="youtrack.jetbrains.com"
                    android:pathPattern="/articles/.*"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.myjetbrains.com"
                    android:pathPattern="/issues.*"
                    android:scheme="https" />
                <data
                    android:host="*.myjetbrains.com"
                    android:pathPattern="/youtrack/issues.*"
                    android:scheme="https" />
                <data
                    android:host="*.myjetbrains.com"
                    android:pathPattern="/tickets.*"
                    android:scheme="https" />
                <data
                    android:host="*.myjetbrains.com"
                    android:pathPattern="/youtrack/tickets.*"
                    android:scheme="https" />
                <data
                    android:host="*.myjetbrains.com"
                    android:pathPattern="/issue/.*"
                    android:scheme="https" />
                <data
                    android:host="*.myjetbrains.com"
                    android:pathPattern="/youtrack/issue/.*"
                    android:scheme="https" />
                <data
                    android:host="*.myjetbrains.com"
                    android:pathPattern="/articles/.*"
                    android:scheme="https" />
                <data
                    android:host="*.myjetbrains.com"
                    android:pathPattern="/youtrack/articles/.*"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.youtrack.cloud"
                    android:pathPattern="/issues.*"
                    android:scheme="https" />
                <data
                    android:host="*.youtrack.cloud"
                    android:pathPattern="/youtrack/issues.*"
                    android:scheme="https" />
                <data
                    android:host="*.youtrack.cloud"
                    android:pathPattern="/tickets.*"
                    android:scheme="https" />
                <data
                    android:host="*.youtrack.cloud"
                    android:pathPattern="/youtrack/tickets.*"
                    android:scheme="https" />
                <data
                    android:host="*.youtrack.cloud"
                    android:pathPattern="/issue/.*"
                    android:scheme="https" />
                <data
                    android:host="*.youtrack.cloud"
                    android:pathPattern="/youtrack/issue/.*"
                    android:scheme="https" />
                <data
                    android:host="*.youtrack.cloud"
                    android:pathPattern="/articles/.*"
                    android:scheme="https" />
                <data
                    android:host="*.youtrack.cloud"
                    android:pathPattern="/youtrack/articles/.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:pathPattern="/issues.*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern="/youtrack/issues.*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern="/issues.*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern="/youtrack/issues.*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern="/issue/.*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern="/youtrack/issue/.*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern="/issue/.*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern="/youtrack/issue/.*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern="/tickets.*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern="/youtrack/tickets.*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern="/tickets.*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern="/youtrack/tickets.*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern="/articles/.*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern="/youtrack/articles/.*"
                    android:scheme="https" />
                <data
                    android:host="*"
                    android:pathPattern="/articles/.*"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:pathPattern="/youtrack/articles/.*"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="7556455bdf436a79d8bd19eb7cacc0ce" />
    </application>
</manifest>
