<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIJwGw_oWnuXdQgn9A8-Pg8Pfs7wp0lYg</string>
	<key>GCM_SENDER_ID</key>
	<string>1068166278018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.jetbrains.youtrack.YouTrackMobile</string>
	<key>PROJECT_ID</key>
	<string>youtrack-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>youtrack-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068166278018:ios:44773dbdafd275dc9efd9b</string>
</dict>
</plist>